:root {
  --black: 0,0,0;
  --white: 255, 255,255;
  --font-size: clamp(16px, 1.2em, 1.4em);
  --blue: #0000ff;
  --pale-yellow: #FFFECE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blue);
}
html{
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: var(--pale-yellow);
  font-size: var(--font-size);
}

header {
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


nav ul li {
  display: inline;
  margin-right: 1em;
}
nav ul li a:hover {
  filter: hue-rotate(90deg);
  text-decoration: dotted;
}

:is(h1, h2, h3) {
  color: var(--blue);
  margin: 1em 0;
  font-size: 1.6em;
}

article{
  padding: 2em;
  width: calc(100vw);
  max-height: 75vh;
}

article:nth-child(odd) {
  background-color: #fff;
}

footer {
  background-color: #FFF;
  padding: 1em;
}

article > section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

section > p, section > img {
  border: 1px solid black;
}

img {
  width: clamp(300px, calc(50vw - 4em), 60vw);
  /* width: 30vw;
  max-width: calc(50vw - 2em); */
}